@use "../App.scss";

.PermisosUsuarioPage-grid-text-center {
  text-align: center;
}

.BackdropClass {
  z-index: 10;
  color: #fff;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-container2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f9fcff;
}

.background-container3 {
  position: relative;
  width: 100%;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.text-container {
  color: white;
  //z-index: 1;
  //padding: 20px;
}

.video-container {
  position: relative;
  bottom: 15%;
  video {
    width: 40vw;
    height: 350;
  }
}

.text-container2 {
  color: rgb(59, 59, 59);
  z-index: 1;
  padding: 20px;
  position: relative;
  bottom: 1%;
}

.text-container3 {
  color: rgb(59, 59, 59);
  z-index: 1;
  padding: 20px;
  position: relative;
  bottom: 1%;
}

.iconDown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.iconDown2 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.text-container h1 {
  font-size: 3em;
  margin: 0;
  position: relative;
}

.text-container p {
  font-size: 2em;
  margin: 0 auto;
  max-width: 80%;
}

.underline-text {
  height: 4px;
  width: 50px;
  display: block;
  margin: 8px auto 0;
  background-color: #ff3366;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .text-container h1 {
    font-size: 2em;
  }

  .text-container p {
    font-size: 1em;
  }

  .underline-text::after {
    height: 2px;
  }
}

.footer {
  height: 100px;
  background-color: rgb(34 53 71);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.fc-event:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
  cursor: pointer; /* Cambia el cursor a pointer */
}

.file-explorer {
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  font-family: Arial, sans-serif;
}

.file-explorer ul {
  list-style-type: none;
  padding: 0;
}

.file-explorer li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.file-explorer li:hover {
  background-color: #f0f0f0;
}

.sub-folder {
  margin-left: 20px; /* Indentación para subcarpetas */
}
